*{
  margin:0;
  padding:0;
}
body{
  width: 1366px;
  height: 950px;
  background-color: #f9f9f9;
}
.box{
  width: 1068px;
  height: 950px;
  background-image: url('../img/box.jpg');
  margin: 0 auto;
}
/*HEADER*/
.header{
  width: 966px;
  height: 170px;
  margin: 0 auto;
}
/*logo*/
.header img{
  padding-top: 49px;
  padding-bottom: 38px;
  }
  /*MENU_TOP*/
    .menu{
     height: 40px;
     width: 966px;
     background-image: url('../img/topmenu.png');
     position: relative;
     color: #ffffff;
     font-size: 15px;
     font-family: 'Myriad Pro';
     list-style: none;
    }
    .menu a{
      text-decoration: none;
      color: #ffffff;
    }
    .menu ul {

    }
    .menu li {
    float: left; /* элементы списка делаем блочными и выстраиваем в ряд */
    height: 28px; /* высоту лучше жестко указать, чтобы выпадающее меню появлялось в предсказуемом месте
    width: 125px;*/
    cursor: pointer;
    position: relative; /* чтобы выпадающее меню позиционировалось относительно родителя
    padding-left:15px;*/
    padding-top: 12px;
    }

    .menu li:hover{
     background-image: url('../img/menuvisited.png');
     display: inline-block;
     border-left: 1px solid #838383;
     border-right: 1px solid #838383;}

     .menu li:first-child{
       width: 130px;
       text-align: center;
       /*margin-right: -4px;*/
        }
     .menu li:nth-child(2){
       width: 94px;
       text-align: center;
       }
     .menu li:nth-child(3){
       width: 160px;
      text-align: center;
      }
      .menu li:last-child{
        width: 550px;
        padding-left: 30px;
      }
    /* END MENU_TOP*/
/* END HEADER*/
      /*MENU_LEFT*/
      .menu_left{
        width: 240px;
        height: 240px;
        margin-left: 50px;
        list-style-type: none;
        margin-top: 40px;
        margin-right: 50px;
        position: relative;
        float: left;}
        .menu_left li{
        border: 1px solid #c8c8c8;
        height: 25px;
        width: 216px;
        padding-left: 24px;
        padding-top: 15px;
        position: relative;
          float: left;
          cursor: pointer;
        }
        .menu_left a{
         text-decoration: none;
         color: #656363;
        }
       .menu_left li:hover{
         color: rgb(180, 246, 38);
         padding-left: 35px;
        width: 205px;
         display: inline-block;

       }
       .menu_left a:hover{
         color: #2c2c2c;
       }
         /*END MENU_LEFT*/
         /*content*/
            .content{
             overflow: hidden;
             width:677px;
             margin-top: 40px;
             }
             .img_content{
             height: 398px;
             width:675px;
             border: 1px solid #c8c8c8;
             }
            .img_content img{
             display: block;
             margin: 40px auto;
             }
            .content p{
             color:#2c2c2c;
             font-size: 15px;
             font-family: 'Myriad Pro';
             padding: 40px 20px;
             }
        /*END content*/
        /*FOOTER*/
      .menu_bottom{
        height: 40px;
        width: 966px;
        background: #e1e1e1;
          margin-left: 50px;
      }
      .menu_bottom li{
      display: inline-block;
      list-style-type: none;
      width: 120px;
      padding-top: 12px;
      padding-left: 20px;
      }
      .menu_bottom li a{
        text-decoration: none;
        font-size: 15px;
        font-family: 'Myriad Pro';
        color: #2c2c2c;
        display: block;
        }
      .menu_bottom li:hover{
        text-decoration: underline;
      }
      .menu_bottom li:last-child{
        width: 180px;
        float:right;}

        /*END FOOTER*/
